---
layout: page
title: HASTE
subtitle: Human Machine Interface And the Safety Traffic in Europe
date: 2002 - 2005
permalink: /projects/haste.html
mainmenu: false
---

<div class="home">

  <h1 class="page-heading">{{ page.subtitle }}</h1>

  <ul class="post-list">
      <li> Funding: European (5th RTD Framework Programme) - RD1-2000-25361. </li>
      <li> Duration: 01/02 - 03/05</li>
  </ul>
<p>
The aim of HASTE was to develop methodologies and guidelines for the assessment of in-vehicle information systems (IVIS). 
The intention was to devise an assessment regime that was independent of the design of an IVIS and that was based on the evaluation of driver performance when using a system as compared to driver performance without interaction with that system. 
The primary objective of the programme of research was the identification and exploration of the relationship between traffic scenario, the driver and the IVIS. This relationship was investigated by studying behavioural, vehicle, psychophysiological and self-reported measures in both virtual (Simulators) and naturalistic (Instrumented Vehicles) driving environments.
</p>
<p>
The studies in HASTE have confirmed the proposed hypothesis 
that there would be severe problems for
elderly drivers in using IVIS while driving, particularly at higher levels of task
demand. "Average" drivers were not always able to manage the trade-off
between primary and secondary task, and there were many indications of
driving performance being poorest when the secondary task demand was the
highest. But elderly drivers were particularly poor at this task management,
so that there was more interference from IVIS use with their driving
performance and safety, particularly in terms of higher-order aspects of
driving such as managing interaction with pedestrians at crossings while
subjected to cognitive load from an IVIS. This has important design and
policy implications in that elderly drivers are unlikely to be able to handle even
moderate load from an IVIS in more demanding road and traffic situations.
</p>
<h4>Outputs</h4>
<a href='https://trimis.ec.europa.eu/sites/default/files/project/documents/20100310_132011_85736_Haste%20Final%20Report.pdf'>Final report</a>
</div>
