---
webtitle: DriS Web site
layout: page
---

<div class="home homepage">
  <img src="images/dris.png" alt="DriS" class="homepage">
  <h1 class="page-heading homepage">Driving Simulator</h1>
  <p class="homepage"> Wellcome to the DriS Web site. </p>
  <p> {{ site.description }} </p>
</div>
