---
layout: page
title: Gallery
permalink: /pictures/

images:
  - image_path: /pictures/isep.jpg
    title: ISEP
  - image_path: /pictures/feup.jpg
    title: FEUP Cake
  - image_path: /pictures/cockpit2015.png
    title: Cockpit 2015
---

<div class="home">
  <h1 class="page-heading"></h1>
  <ul class="post-list">
    {% for image in page.images %}
      <li>
        <h2>
		<a class="post-link" href="{{ site.baseurl }}"><img src="{{ image.image_path }}" alt="{{ image.title }}" height=64></a>
        </h2>
      </li>
    {% endfor %}
  </ul>
</div>
